<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<% include ../partials/head %>

	<body>
		<% include ../partials/header %>

		<!-- start banner Area -->
		<section class="banner-area relative" id="home">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">

                        <img src="http://blog.softhost.com.br/wp-content/uploads/2010/08/pagina-em-construcao-300x300.png" alt="">

						<h2 class="text-white">
							Desculpe,
						</h2>
                        <h3 class="text-white"> esta página está em construção.</h3>
					</div>
				</div>
			</div>
		</section>
		<!-- End banner Area -->


		<!-- End price Area -->

		

		<!-- start footer Area -->
		<% include ../partials/footer %>
		<!-- End footer Area -->

		<% include ../partials/scripts %>
	</body>
</html>
