	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
<%include /partials/head %>
		<body>

<%include /partials/header %>

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>	
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-9">
							<h6 class="text-white">Openning on 21st February, 2018</h6>
							<h1 class="text-white">
									<% if(user){ %>
									Olá <%= user.name.first %>!
									  <% } else{ %>  
										Olá Visitante!
									 <% } %>
								
							
								 
							</h1>
							<p class="pt-20 pb-20 text-white">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.  sed do eiusmod tempor incididunt..
							</p>
							<a href="#" class="primary-btn text-uppercase">Get Started</a>
						</div>											
					</div>
				</div>					
			</section>
			<!-- End banner Area -->	

			<!-- Start service Area -->
			<section class="service-area section-gap" id="service">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Nossos Serviços</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img class="img-fluid" src="frontend/img/s1.jpg" alt="">
								</div>
								<div class="detail">
									<a href="#"><h4>Ajustes e Reparos</h4></a>
									<p>
										Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.									
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img class="img-fluid" src="frontend/img/s2.jpg" alt="">
								</div>
								<div class="detail">
									<a href="#"><h4>Cercas Elétricas</h4></a>
									<p>
										Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.									
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-service">
								<div class="thumb">
									<img class="img-fluid" src="frontend/img/s3.jpg" alt="">
								</div>
								<div class="detail">
									<a href="#"><h4>Cameras de Vigilância</h4></a>
									<p>
										Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical.									
									</p>
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End service Area -->	


			<!-- Start feature Area -->
			<section class="feature-area section-gap" id="feature">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-8 pb-40 header-text">
							<h1>Nosso Compromisso</h1>
							<p>
								Who are in extremely love with eco friendly system.
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-user"></span>Expert Technicians</h4>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology and power.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-license"></span>Professional Service</h4>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology and power.
								</p>								
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-phone"></span>Great Support</h4>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology and power.
								</p>								
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-rocket"></span>Technical Skills</h4>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology and power.
								</p>				
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-diamond"></span>Highly Recomended</h4>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology and power.
								</p>								
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-feature">
								<h4><span class="lnr lnr-bubble"></span>Positive Reviews</h4>
								<p>
									Usage of the Internet is becoming more common due to rapid advancement of technology and power.
								</p>									
							</div>
						</div>						
					</div>
				</div>	
			</section>
			<!-- End feature Area -->				

			<!-- Start fact Area -->
			<section class="facts-area section-gap" id="facts-area">
				<div class="container">
					<div class="row">
						<div class="col single-fact">
							<h1 class="counter">2536</h1>
							<p>Serviços Realizados</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">6784</h1>
							<p>Clientes Satisfeitos</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">1059</h1>
							<p>Tarfas Completadas</p>
						</div>
						<div class="col single-fact">
							<h1 class="counter">2239</h1>
							<p>Copos de Café Tomados</p>
						</div>	
						<div class="col single-fact">
							<h1 class="counter">435</h1>
							<p>Profissionais Disponíveis</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- end fact Area -->							

			<!-- Start galery Area -->
			<section class="galery-area section-gap" id="gallery">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Nossa Galeria</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-7 col-md-6">
							<a href="img/g1.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g1.jpg" alt="">
							</a>
						</div>
						<div class="col-lg-5 col-md-6">
							<a href="img/g2.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g2.jpg" alt="">
							</a>
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="img/g3.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g3.jpg" alt="">
							</a>
						</div>
						<div class="col-lg-4 col-md-4">
							<a href="img/g4.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g4.jpg" alt="">
							</a>
						</div>	
						<div class="col-lg-4 col-md-4">
							<a href="img/g5.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g5.jpg" alt="">
							</a>
						</div>
						<div class="col-lg-5 col-md-6">
							<a href="img/g6.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g6.jpg" alt="">
							</a>
						</div>	
						<div class="col-lg-7 col-md-6">
							<a href="img/g7.jpg" class="single-gallery">
								<img class="img-fluid" src="img/g7.jpg" alt="">
							</a>
						</div>																				
					</div>
				</div>	
			</section>
			<!-- End galery Area -->

			<!-- Start blog Area -->
			<section class="blog-area section-gap" id="blog">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Notícias</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="img/b1.jpg" alt="">								
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="blog-single.html"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="img/b2.jpg" alt="">								
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="blog-single.html"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="img/b3.jpg" alt="">								
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="blog-single.html"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>
						<div class="col-lg-3 col-md-6 single-blog">
							<div class="thumb">
								<img class="img-fluid" src="img/b4.jpg" alt="">								
							</div>
							<p class="date">10 Jan 2018</p>
							<a href="blog-single.html"><h4>Addiction When Gambling
							Becomes A Problem</h4></a>
							<p>
								inappropriate behavior ipsum dolor sit amet, consectetur.
							</p>
							<div class="meta-bottom d-flex justify-content-between">
								<p><span class="lnr lnr-heart"></span> 15 Likes</p>
								<p><span class="lnr lnr-bubble"></span> 02 Comments</p>
							</div>									
						</div>							
					</div>
				</div>	
			</section>
			<!-- End blog Area -->


			<!-- start footer Area -->		
			<% include /partials/footer.ejs %>
			<!-- End footer Area -->		

			<!-- Importar Scripts -->

			<% include /partials/scripts.ejs %>
		</body>
	</html>



